body{
    background-color: chartreuse;
    color:black;
}
h1{
    width: 100%;
    font-size:120;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
}
#label_1{
    font-size: large;
}
#show_sketch{
    float: right;
}
Canvas{
    border: 5px solid white;
    border-radius: 20px ;
    animation-name: example;
    animation-duration:1s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example {
from{box-shadow: 1px 1px 69px black;} 
to{box-shadow: 1px 1px 38px white;} 
    
}
#score{
    margin-left: 20px;   
}
#time {
    margin-right: 20px;
    float: right;

}